/* Custom color theme: GEM */
:root {
  --color-primary-50: 240 253 244;
  --color-primary-100: 220 252 231;
  --color-primary-200: 107 155 195; /* publication titles */
  --color-primary-300: 107 155 195; /* Cap outline */
  --color-primary-400: 107 155 195; /* Links */
  --color-primary-500: 107 155 195; /* "Read more" */
  --color-primary-600: 22 163 74;
  --color-primary-700: 21 128 61;
  --color-primary-800: 22 101 52;
  --color-primary-900: 35 65 90; /* Cap background (circle) */
  --color-primary-950: 5 46 22;
}

/*
.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.roboto- {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  .navbar, .nav-link, h1, h2, h3, h4, h5, h6, .text-3xl, .text-2xl, .section-subheading, .leading-6 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
  }
  .navbar-brand {
    font-size: 1.875rem;
  }
  .powered-by {
    font-family: "Roboto", sans-serif;
  }
  .md\:mt-12 {
    margin-top: 1.5rem;
  }
}