<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<style>
/*
.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.roboto- {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/
body {
  font-family: "Roboto", sans-serif;
  .navbar, .nav-link, h, h2, h3, h4, h5, h6, .text-3xl, .section-subheading {
    font-family: "Playfair Display", serif;
    font-weight: 600;
  }
  .navbar-brand {
    font-size: 1.875rem;
  }
  .md\:mt-12 {
    margin-top: 1.5rem;
  }
}
</style>
